.ai-container{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0.5rem;
    gap: 0.5rem;
}

.ai-container {
    display: flex;
}

.sidebar-close {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    z-index: 100;
}

.sidebar-close i{
    font-size: 1.5rem;
}

.unsupported-browser{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: 100vh;
}